!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html.no-js
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title
    %meta{:content => "", :name => "description"}/
    %meta{:content => "width=device-width", :name => "viewport"}/
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}/
    :css
      body {
          padding-top: 60px;
          padding-bottom: 40px;
      }
    %link{:href => "css/bootstrap-responsive.min.css", :rel => "stylesheet"}/
    %link{:href => "css/main.css", :rel => "stylesheet"}/
    %script{:src => "js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"}
  %body
    /[if lt IE 7]
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    / This code is taken from http://twitter.github.com/bootstrap/examples/hero.html
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => "/lbscoding"} LBS Coding
          .nav-collapse.collapse
            %ul.nav
              %li.active
                %a{:href => "index.html"} Home
              %li
                %a{:href => "schedule.html"} Schedule
          / /.nav-collapse
    .container
      %h1 Session Schedule
      %table.table.table-striped.table-hover.table-condensed.table-bordered
        %thead
          %tr
            %th Session
            %th Date
            %th Day
            %th Type
            %th Location
            %th Pre-checklist
            %th Slides

        %tbody
          %tr
            %td Info
            %td 9/04/2013    
            %td Tuesday 
            %td Information Session
            %td LT9
            %td -
            %td
              %a{:href => "info/"} Slides

          %tr
            %td{:rowspan => "2"} 1
            %td 16/04/2013    
            %td Tuesday 
            %td Class   
            %td LT2
            %td{:rowspan => "2"}
              %a{:href => "install_checklist.html"} Install Checklist
              %br/
              %a{:href => "vbox_files.html"} Download lbscoding_v01
            %td{:rowspan => "2"}
              %a{:href => "session_1/"} Slides 

          %tr
            %td 18/04/2013    
            %td Thursday    
            %td Tutorial    
            %td LT5

          %tr
            %td{:rowspan => "2"} 2
            %td 23/04/2013    
            %td Tuesday 
            %td Class   
            %td LT5
            %td{:rowspan => "2"}
              %a{:href => "vbox_files.html"} Download lbscoding_v03
              %br/
              %a{:href => "session_2_pre_checklist.html"} Pre-Checklist
            %td -

          %tr
            %td 25/04/2013    
            %td Thursday    
            %td Tutorial    
            %td LT5
            %td -

          %tr
            %td{:rowspan => "2"} 3
            %td 30/04/2013    
            %td Tuesday 
            %td Class   
            %td LT2
            %td -
            %td -

          %tr
            %td 02/05/2013    
            %td Thursday    
            %td Tutorial    
            %td LT9
            %td -
            %td -

          %tr
            %td{:rowspan => "2"} 4
            %td 07/05/2013    
            %td Tuesday 
            %td Class   
            %td LT5
            %td -
            %td -

          %tr
            %td 09/05/2013    
            %td Thursday    
            %td Tutorial    
            %td PB Lab
            %td -
            %td -

          %tr
            %td{:rowspan => "2"} 5
            %td 14/05/2013    
            %td Tuesday 
            %td Class   
            %td PB Lab
            %td -
            %td -

          %tr
            %td 16/05/2013    
            %td Thursday    
            %td Tutorial    
            %td LT5
            %td -
            %td -

          %tr.error
            %td{:rowspan => "2"} No class
            %td 21/05/2013    
            %td Tuesday 
            %td.text-error NO 
            %td.text-error CLASS
            %td 
            %td 
            
          %tr.error
            %td 23/05/2013    
            %td Thursday    
            %td.text-error NO 
            %td.text-error CLASS
            %td 
            %td 

          %tr
            %td{:rowspan => "2"} 6
            %td 28/05/2013    
            %td Tuesday 
            %td Class   
            %td LT5
            %td -
            %td -

          %tr
            %td 30/05/2013    
            %td Thursday    
            %td Tutorial    
            %td LT5
            %td -
            %td -

      %hr/
      %footer
        %p &copy; Paul Jolly, 2013
    / /container
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
    :javascript
      window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')
    %script{:src => "js/vendor/bootstrap.min.js"}
    %script{:src => "js/main.js"}
    :javascript
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
