<!doctype html>
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title An Introduction to Web Development...for Business Students
    %meta{:content => "A framework for easily creating beautiful presentations using HTML", :name => "description"}/
    %meta{:content => "Hakim El Hattab", :name => "author"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "black-translucent", :name => "apple-mobile-web-app-status-bar-style"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    %link{:href => "css/reveal.min.css", :rel => "stylesheet"}/
    %link#theme{:href => "css/theme/night.css", :rel => "stylesheet"}/
    / For syntax highlighting
    %link{:href => "lib/css/zenburn.css", :rel => "stylesheet"}/
    / If the query includes 'print-pdf', use the PDF print sheet
    :javascript
      document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
    /[if lt IE 9]
      <script src="lib/js/html5shiv.js"></script>
  %body
    .reveal
      / Any section element inside of this container is displayed as a slide
      .slides
        %section
          %h2 An Introduction to Web Development...
          %h3 ...for Business Students
          %br/
          %br/
          %p Session 1
          %p 16 Apr 2013
          %p
            %small
              %a{:href => "http://myitcv.org.uk"} Paul Jolly
              \/
              %a{:href => "mailto:paul@myitcv.org.uk"} paul@myitcv.org.uk

        %section
          %h1 Welcome
          %br/
          %br/
          %br/
          %br/
          %small
            With thanks to Joe Wadcan (Berkeley MBA 2012)


        %section
          %h2 Do you have:
          %ul
            %li Yourself
            %li Laptop
            %li Charging cable
            %li Notebook + pen (if you prefer to take notes this way)

        %section
          %h2 Follow along...
          %p 
            %a{:href => "http://blog.myitcv.org.uk/lbscoding/session_1", :target => "_blank"} http://blog.myitcv.org.uk/lbscoding/session_1

        %section
          %h2 How do I use the slides?
          %p A simple case of right arrow key to progress....
          %p .... and left arrow key to go back
          %p Needs Google Chrome to work properly (next slide)
            
        %section
          %h2 Install checklist
          %ul
            %li 
              %a{:href => "http://www.google.com/chrome/", :target => "_blank"} Google Chrome
            %li 
              %a{:href => "http://download.virtualbox.org/virtualbox/4.2.12/VirtualBox-4.2.12-84980-Win.exe", :target => "_blank"} VirtualBox for Windows
            %li 
              %a{:href => "http://download.virtualbox.org/virtualbox/4.2.12/VirtualBox-4.2.12-84980-OSX.dmg", :target => "_blank"} VirtualBox for Mac

        %section
          %h2 Download checklist
          %ul
            %li 
              %a{:href => "https://docs.google.com/file/d/0B8wIfRgDWrMhdlc3RmVENzU2OE0/edit?usp=sharing", :target => "_blank"} File 1
            %li 
              %a{:href => "https://docs.google.com/file/d/0B8wIfRgDWrMhVkZ6TllBVFZwT3c/edit?usp=sharing", :target => "_blank"} File 2 (the big one)

        %section
          %h2 Ready for me to continue?
          %p You can sit back and relax during this section
          %p ... particularly if you came to the info session

        %section
          %h2 Why am I running this course?
          %ul
            %li Inspired by similar course at Berkeley on exchange
            %li Interested classmates (working on ideas or at start-ups)
            %li Technology is a passion of mine
            %li I enjoy teaching others
            %li Inspire others to learn more about something that will shape companies and organisations going forward
            %li An experiment: strongly believe LBS should strengthen its entrepreneurship / start-up offering
            %li I learn too

        %section
          %h2 Why are you here?
          %ul
            %li You want to work on your own idea
            %li You want to work at a tech start-up
            %li You work with engineers...or want to / will do
            %li You are curious to learn
            %li (Almost) no experience of coding or development
            %li Ready for a fast paced course

        %section
          %h2 Who am I?
          %ul
            %li MEng Software Engineering, Imperial College London
            %li Worked for 5 years at Goldman Sachs in a software engineering role...
            %li ...then for 2 years in a management / strategy role...but still very tech-based
            %li Still coding in my spare time

        %section
          %h2 What are we going to do?
          %ul
            %li Learn a new skill
            %li Build a real product: a very basic Twitter-like web application
            %li Broaden your horizons

        %section
          %h2 How are we going to do this?
          %ul
            %li Six week course, three hour "lesson" per week + tutorial time + office hours
            %li Step-by-step, in-class development
            %li Homework exercises for those who want to go off-piste and a bit further (but not today :-)

        %section
          %h2 So what are the logistics?
          %ul
            %li Class and tutorial schedule has been finalised
            %li ... with the option of Wednesday tutorials some weeks
            %li Office hours: flexible
            %li 150 GBP for the entire course
            %li Maximum of 30 students in the class
            %li Course homepage... (will be communicated to those who sign up)

        %section
          %h2 What's on the course homepage?
          %ul
            %li Logistics and admin items
            %li Links to all the tools/software we are using...
            %li ...slides...
            %li ...exercises...
            %li ...everything!

        %section
          %h2 Anything else I should know?
          %ul
            %li I'm as much a guide as a "teacher"
            %li Your time is very valuable
            %li Ask questions
            %li Be on time
            %li Understand that missing the first hour of a class is a serious problem...
            %li ...everything we do builds entirely on the previous steps
            %li We are learning as a group: help each other!

        %section
          %h2 I didn't follow the last session...
          %ul
            %li Feedback requested after each session
            %li Adjust pace and content
            %li Adjust style
            %li e.g. dedicate more time to walking through examples

        %section
          %h2 I have a question...
          %ul
            %li 
              %p In class: please ask
              %ul
                %li Good questions help the class' understanding
                %li Off-topic questions can throw things
                %li Could you have answered the question yourself?
            %li 
              %a{:href => "http://stackoverflow.com/"} stackoverflow
              %ul
                %li Programmer-2-programmer peer-support 
                %li Sign-up and start having a look around... 
                %li ...particularly the Ruby on Rails questions
            %li
              %a{:href => "http://www.google.com/"} Google
              %ul
                %li Search the whole web
                %li More difficult/time consuming to find "the answer"
            %li 
              %p Peer groups
              %ul
                %li Explicit groups set for next week once sign-up complete

        %section
          %h2 Important disclaimer....

        %section
          %h3 Everything we will cover on this course you could pick-up yourself....for free

        %section
          %h3
            All the software we will use is free
            = succeed "(as" do
              %br/
            in beer)

        %section
          %h3 FREE

        %section
          %h2 So what next?
          %ul
            %li Sign-up stage 2: payment covers sessions 2-6
            %li Maximum of 30
            %li Sign-up will be FIRST COME FIRST SERVED!
            %li Will send out the link Wed 17 Apr

        %section
          
          %h2 What this course IS
          %ul
            %li Getting to the nitty gritty of how web apps work 
            %li Understanding the development workflow 
            %li Basic understanding of how Ruby works
            %li Better perspective on programmers jobs
            %li A primer on programming/coding 
            %li Most useful for absolute beginners

        %section
          %h2 What this course is NOT
          %ul
            %li A full tutorial on Ruby
            %li A course on coding a full web app 
            %li Catering to fast learners
            %li The only way to learn how to code 
            %li The end of your learning
            %li For children

        %section
          %h2 Catch our breath....
          %p
            Any questions?

        %section
          %h2 What are we going to cover today
          %ul
            %li The development environment
            %li VirtualBox
            %li Linux (Ubuntu)
            %li Using Linux
            %li Writing some code (very basic)
            %li Deployment (part I)

        %section
          %h2 But first...

        %section
          %h2 Computers are dumb
          %p They do what they're told to do
          %p And nothing else
          %p (they might have been taught how to learn)

        %section
          %h2 At the most basic
          %ul
            %li Inputs (hardware/data): mouse, keyboard, camera, files...
            %li Processing (software): programs, code
            %li Output (hardware/data): monitor, printer, web page...

        %section
          %h2 What is hardware?
          %ul
            %li Hard drive - long term storage
            %li RAM - short term memory (needs power)
            %li CPU/processor - follows instructions (maths and logic)
            %li (obviously an incomplete list)

        %section
          %h2 What is software?
          %ul
            %li A series of instructions
            %li A recipe if you will
            %li Needs to be stored somewhere

        %section
          %h2 What is data?
          %ul
            %li Another input/output
            %li Needs to be stored somewhere
            %li Classically understood as "files"

        %section
          %h2 We understand computers in terms of stacks
          %ul
            %li Users (you and me)
            %li Applications (Word, Excel)
            %li Operating Systems (Windows, Mac OS X, Linux)
            %li Firmware (a special kind of software)
            %li Hardware (Samsung, MacBook Pro)

        %section
          %h2 What does this have to do with our web application?

        %section
          %h2 Picking up the Twitter example
          %ul
            %li Twitter is an application
            %li A very big application
            %li ...that scales to millions of users
            %li ...all over the world
            %li But an application nonetheless
            
        %section
          %h2 But I can't install Twitter...
          %ul
            %li We distinguish between clients and servers
            %li Server: the software + hardware that "provides" Twitter
            %li 
              %p Client: the software + hardware that "uses" Twitter
              %ul
                %li Mobile phone (iPhone, Android)
                %li Personal computer
                %li Another server (using the Twitter data API)
            %li Coffee shop analogy

        %section
          %h2 But "where" is Twitter?
          %ul
            %li Computers connect to networks
            %li Computers on networks have IP addresses: unique identifier
            %li e.g. 163.119.33.119
            %li eduroam is the network here at LBS
            %li eduroam is connected to the internet
            %li The Twitter hardware is similarly networked...
            %li ...and ultimately connected to the internet
            %li But I typed http://twitter.com/#lbs?

        %section
          %h2 A quick primer on internet addresses
          %ul
            %li http://twitter.com/#lbs is a URL
            %li twitter.com is a domain
            %li Domain Name System (DNS) translates domain names to an IP address
            %li This locates the Twitter hardware on the internet
            %li Twitter servers know how to "answer" or serve http://twitter.com/#lbs

        %section
          %h2 Terminology refresher
          %ul
            %li Program = code = application (slight abuse of termology here...)
            %li Programs are stored, like data, in files on disk (hard drive?)
            %li When we "run" a program it is loaded into memory (RAM)
            %li Processor then steps through instructions (and may repeat)
            %li A running program is called a process, e.g. Chrome

        %section
          %h2 Enough of me talking...

        %section
          %h2 What on earth is VirtualBox?
          %ul
            %li It is an application
            %li ...that simulates computer hardware
            %li ...hence "Virtual" (not real)
            %li ..."Box" (slang for computer)
            %li So we need an operating system to run in our VirtualBox

        %section
          %img{:border => "0", :src => "img/vbox.png"}/

        %section
          %h2 Install checklist
          %ul
            %li 
              %a{:href => "http://www.google.com/chrome/", :target => "_blank"} Google Chrome
            %li 
              %a{:href => "http://download.virtualbox.org/virtualbox/4.2.12/VirtualBox-4.2.12-84980-Win.exe", :target => "_blank"} VirtualBox for Windows
            %li 
              %a{:href => "http://download.virtualbox.org/virtualbox/4.2.12/VirtualBox-4.2.12-84980-OSX.dmg", :target => "_blank"} VirtualBox for Mac

        %section
          %h2 Download checklist
          %ul
            %li 
              %a{:href => "https://docs.google.com/file/d/0B8wIfRgDWrMhdlc3RmVENzU2OE0/edit?usp=sharing", :target => "_blank"} File 1
            %li 
              %a{:href => "https://docs.google.com/file/d/0B8wIfRgDWrMhVkZ6TllBVFZwT3c/edit?usp=sharing", :target => "_blank"} File 2 (the big one)

        %section
          %h2 Using VirtualBox
          %p Time for you to do some work

        %section
          %h2 Login details
          %ul
            %li Username: lbs
            %li Password: lbscoding

        %section
          %h2 Welcome back...

        %section
          %h2 VirtualBox concepts
          %ul
            %li Host = your computer and its operating system 
            %li Guest = the virtual computer and Ubuntu Linux
            %li Feel free to mess up your VirtualBox entirely
            %li Can move between full screen and window for virtual machine
            %li "Host Key" helps you to navigate between the host and guest

        %section
          %h2 More on the "guest" operating system
          %ul
            %li Linux Ubuntu
            %li Linux is an operating system
            %li Ubuntu is a particular distribution (flavour?) of Linux
            %li Popular amongst "newbies" - very graphical
            %li Other distributions better suited to server environment

        %section
          %h2 So what is OUR development environment?
          %p A set of programs that run on Ubuntu...
          %p ...that allow us to write (code) and run Ruby programs
          %p ...specifically web applications

        %section
          %h2 Why are we using Linux (Ubuntu)?
          %ul
            %li Very stable
            %li Very fast
            %li Very popular
            %li Works on nearly every machine 
            %li 100% customizeable
            %li Gives us a good grounding in concepts that underpin computers and programming
            %li But more importantly...it’s free!

        %section
          %h2 File system (storage)
          %ul
            %li / - root, everything sits under here
            %li /home - user directories
            %li /home/lbs - the directory for your files, your home directory
            %li /home/lbs/my_file.txt - a text file in the lbs home directory

        %section
          %h2 File system (more)
          %ul
            %li /etc - operating system settings
            %li /bin - essential bin-aries (programs) 
            %li /boot - files essential to boot (start) the operating system
            %li /tmp - temporary area, every file "below" here gets deleted when the machine restarts

        %section
          %h2 Let's have a drive around
          %ul
            %li Terminal = command line = command prompt
            %li Browser
            %li Text Editor

        %section
          %h2 Terminal commands
          %ul
            %li ls - list directory contents
            %li cd - change current directory
            %li pwd - print the current directory
            %li mkdir - make/create a directory
            %li rm - remove a file/directory
            %li touch - create an empty file
            %li cp - copy a file/directory
            %li man - show a manual for a command

        %section
          %h2 Examples
          %ul
            %li ls /home/lbs - show the contents of our home directory
            %li pwd - print the current directory
            %li cd /tmp - change the current directory to /tmp
            %li pwd - print the current directory
            %li mkdir blah - create a directory called blah in the current directory
            %li cd blah - change the current directory to blah
            %li touch test - create an empty file called test in the current directory
            %li ls . - show the contents of the current directory
            %li cd .. - go up a directory
            %li rm -r blah - remove the directory we just created
            %li man rm - show the manual for the rm command

        %section
          %h2 OK, lots of new stuff here...
          %ul
            %li Windows calls directories "folders"
            %li Within the terminal, a program called bash is accepting our "input"
            %li Everything is case sensitive
            %li Difference between files and directories
            %li Filenames containing spaces create real problems...use underscore

        %section
          %h2 Our first Ruby program: Hello World
          %p A standard in programming...

        %section
          %h2 Text Editor to the rescue
          %ul
            %li Applications...
            %li Accessories...
            %li Text Editor

        %section
          %h2 Text Editor to the rescue
          %p Looks like Notepad/TextEdit
          %p Runs like a Ferrari by comparison

        %section
          %h2 Write the code
          %pre
            %code{:contenteditable => ""}
              :preserve
                puts "Hello world"

        %section
          %h2 Save the file
          %ul
            %li File...
            %li Save...
            %li Choose your home directory
            %li hello_world.rb
            %li Save

        %section
          %h2 Ready to run this?
          %p What's it going to do?

        %section
          %h2 Back to the Terminal...

        %section
          %h2 Commands to run our program
          %ul
            %li whoami - who am I?
            %li cd - return to our home directory
            %li which ruby - where is the ruby program?
            %li ruby hello_world.rb - run our program

        %section
          %h2 Great success

        %section
          %h2 But we're developing a web application...

        %section
          %h2 What on earth in Cloud Computing?
          %p Wikipedia: use of computing resources (hardware and software) that are delivered as a service over a network (typically the Internet)
          %p Covers compute, network and storage services

        %section
          %h2 Why Cloud Computing?
          %ul
            %li Fast
            %li Easily scalable
            %li Spans geographies

        %section
          %h2 Here comes another stack....
          %ul
            %li Software as a Service (SaaS) - Gmail, Salesforce
            %li Platform as a Service (PaaS) - OpenShift, Heroku
            %li Infrastructure as a Service (IaaS) - Amazon Web Services

        %section
          %h2 More on PaaS
          %ul
            %li Runs on IaaS
            %li i.e. runs within an operating system (typically a Linux distribution)
            %li PaaS is itself a set of programs that host applications
            %li Take away management headaches of running those applications
            %li Easy deployment

        %section
          %h2 OpenShift
          %ul
            %li An open-source PaaS
            %li Provided by RedHat, who also provide a distribution of Linux
            %li Free (to a point)
            %li 
              %a{:href => "https://openshift.redhat.com/app/account/new"} Create an account
        
        %section
          %h2 That's it for today!
          
        %section
          %h2 Next steps
          %ul
            %li Follow-up survey
            %li Sign-up for sessions 2-6 - look out for email tomorrow

    %script{:src => "lib/js/head.min.js"}
    %script{:src => "js/reveal.min.js"}
    :javascript
      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
      	controls: true,
      	progress: true,
      	history: true,
      	center: true,

      	theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
      	transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

      	// Optional libraries used to extend on reveal.js
      	dependencies: [
      		{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
      		{ src: 'plugin/markdown/showdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
      		{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
      		{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
      		{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
      		{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
      		// { src: 'plugin/search/search.js', async: true, condition: function() { return !!document.body.classList; } }
      		// { src: 'plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
      	]
      });
