<!doctype html>
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title An Introduction to Web Development...for Business Students
    %meta{:content => "A framework for easily creating beautiful presentations using HTML", :name => "description"}/
    %meta{:content => "Hakim El Hattab", :name => "author"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "black-translucent", :name => "apple-mobile-web-app-status-bar-style"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    %link{:href => "css/reveal.min.css", :rel => "stylesheet"}/
    %link#theme{:href => "css/theme/night.css", :rel => "stylesheet"}/
    / For syntax highlighting
    %link{:href => "lib/css/zenburn.css", :rel => "stylesheet"}/
    / If the query includes 'print-pdf', use the PDF print sheet
    :javascript
      document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
    /[if lt IE 9]
      <script src="lib/js/html5shiv.js"></script>
  %body
    .reveal
      / Any section element inside of this container is displayed as a slide
      .slides
        %section
          :textile
            h2. An Introduction to Web Development...

            h3. ...for Business Students

            <br/>
            <br/>

            Session 2
          
            23 Apr 2013

            <small>
            "Paul Jolly":http://myitcv.org.uk
            "paul@myitcv.org.uk":mailto:paul@myitcv.org.uk
            </small>

        %section
          :textile
            h3. Session 1 in 30 seconds

            * Course overview
            * Basics about computers
            * VirtualBox, Linux (Ubuntu)
            * File system
            * Terminal
            * Text Editor
            * Basic Ruby Program
            * Web application architecture basics
            * Cloud computing

        %section
          :textile
            h3. Housekeeping

            * Course homepage: "http://blog.myitcv.org.uk/lbscoding":http://blog.myitcv.org.uk/lbscoding
            * Schedule
            * Pre-session checklist

        %section
          :textile
            h3. Session 2 Pre-checklist

            * Downloaded @lbscoding_v03@
            * "Created an OpenShift Account":https://openshift.redhat.com/app/account/new
            * Ensured you are "up-to-speed":http://blog.myitcv.org.uk/lbscoding/session_2_pre_checklist.html with the basic concepts we covered last time

        %section
          :textile
            h3. What are we going to cover today?

            * Writing our first web application
            * Understanding a bit about Ruby on Rails
            * Deploying our application to a PaaS

        %section
          :textile
            h3. Last bit of housekeeping...

            ...on how to interpret the slides

        %section
          :textile
            h3. Create/edit a file I

            <pre><code class="ruby">
            # config/routes.rb
            
            Homepage::Application.routes.draw do
              root :to => 'home#index'
            end
            </code></pre>

        %section
          :textile
            h3. Create/edit a file II

            <pre><code class="ruby">
            # config/routes.rb
            
            Homepage::Application.routes.draw do

              # ...

              root :to => 'home#index'

              # ...

            end
            </code></pre>

        %section
          :textile
            h3. Run a command

            <pre><code class="bash">
            # Another comment
            # You don't type the '$ ' - it is a shortened form of your prompt

            $ cd

            $ ls
            dev  my_dir

            # I will show the output if it is relevant
            </code></pre>

        %section
          :textile
            h3. Commands in normal text

            * This is a list item
            * Here is another
            * Here is a command: @`cd /tmp`@
            * Allows me to avoid lots of code blocks

        %section
          :textile
            h2. Now let's test this out

        %section
          :textile
            h3. Update our terminal config files

            <pre><code class="bash">
            # cd = /home/lbs

            $ cd dev/lbscoding-env
            $ git pull

            # we will see more of the git command later
            # it is a version control system, as opposed to "a person who is 
            # deemed to be despicable or contemptible"

            $ cd
            $ source .bashrc
            </code></pre>

        %section
          :textile
            h2. Right... here we go

        %section
          :textile
            h3. Our development area

            <pre><code class="bash">
            $ cd ~/dev

            # ~ = /home/lbs
            # cd = cd ~ = cd /home/lbs

            # dev will contain any development files
            # it was created by me when I built the virtual machine
            </code></pre>

        %section
          :textile
            h3. Check our development environment

            <pre><code class="bash">
            $ which ruby
            /home/lbs/.rvm/rubies/ruby-1.9.3-p392/bin/ruby

            $ which rails
            /home/lbs/.rvm/gems/ruby-1.9.3-p392/bin/rails

            $ rails --version
            Rails 3.2.13

            $ pwd
            /home/lbs/dev
            </code></pre>

        %section
          :textile
            h3. Create a new Rails application

            <pre><code class="bash">
            # cd = /home/lbs/dev

            $ rails new my_first_app
            ...

            # rails new -h
            </code></pre>

        %section
          :textile
            h3. A quick word on templates

            * Programs can create directories, files...
            * ...can write code...
            * ...can run other programs...
            * @`rails new XYZ`@ creates a template Rails web application

        %section
          :textile
            h3. So what happened there?

            * Rails created a template for our web application
            * In fact it created a working web application
            * Let's have a quick look around

        %section
          :textile
            h3. Structure of a Rails app (basic)




        %section
          :textile
            h3. Questions for you...

            * Lord Green speaker event
            * Language requirement
            * Wednesday tutorials


    %script{:src => "lib/js/head.min.js"}
    %script{:src => "js/reveal.min.js"}
    :javascript
      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
      	controls: true,
      	progress: true,
      	history: true,
      	center: true,

      	theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
      	transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

      	// Optional libraries used to extend on reveal.js
      	dependencies: [
      		{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
      		{ src: 'plugin/markdown/showdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
      		{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
      		{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
      		{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
      		{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
      		// { src: 'plugin/search/search.js', async: true, condition: function() { return !!document.body.classList; } }
      		// { src: 'plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
      	]
      });
